HELP.md

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Compiled class files ###
*.class

### Package files ###
*.jar
*.war
*.ear
*.nar

### Logs ###
*.log

### macOS ###
.DS_Store

### Environment ###
.env
.env.local
/.gitattributes
/src/test/resources/data_vol/
